@use "../abstracts" as *;
@use "../base" as *;

/* ----------------------
버튼
---------------------- */
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

//기본 버튼
button.default {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  padding: 15px 40px;
  transition: 0.2s;
  @include line-primary;

  &:hover {
    @include bg-primary;
  }

  &.primary {
    @include bg-primary;

    &:hover {
      @include line-primary;
    }
  }
}

//닫기 버튼 공통
.remove-btn, .close-btn {
  background: #E53E3E;
  color: $font-white;
  font-size: 14px;
  padding: 3px 6px;
  border-radius: 4px;

  &:hover {
    background: #b02a37;
  }
}

//프린트
.print-btn {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
  @include secondary;
}