@use "../abstracts" as *;
@use "../base" as *;

/* ----------------------
거래처 상세 페이지 - 계산서 입력 폼
---------------------- */
.invoice-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 15px 20px;
  position: relative;

  //폼 공통
  input, textarea {
    @include input-style;

    &.error-border {
      border: 1px solid red !important;
    }

    &:focus,
    &:not(:placeholder-shown) {
      border: 1px solid #ccc;
    }
  }

  //영수증 번호
  .invoice-number {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }

  //반영하기 버튼
  .action-buttons {
    position: absolute;
    top: 12px;
    right: 10px;

    button {
      width: 100px;
      padding: 10px 14px;
      font-size: 14px;
      font-weight: 600;

      &.inactive {
        @include line-primary;
        color: #13141B;
      }

      &.active {
        @include bg-primary;
      }
    }
  }

  //날짜 입력
  .date-group {
    display: flex;
    align-items: center;
    gap: 5px;

    span {
      margin-right: 12px;
    }

    .year {
      font-size: 16px;
      font-weight: bold;
    }

    input {
      width: 120px;
      text-align: right;
    }
  }

  //품목 입력
  .item-group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .input-header {
      display: grid;
      grid-template-columns: 30px 1fr 1fr 1fr 30px;
      align-items: center;
      font-weight: bold;
      padding: 10px;
      border-bottom: 2px solid #ccc;

      span {
        text-align: center;

        &.left {
          text-align: left;
        }
      }
    }

    .input-row {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        width: 25px;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
      }

      input {
        flex: 1;

        &.quantity,
        &.price {
          width: 100px;
          text-align: right;
        }
      }
    }
  }

  //추가 버튼
  .add-item {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    margin-top: 10px;
    transition: 0.1s ease-in-out;
    @include line-primary;

    &:hover {
      @include bg-primary;
    }
  }

  //과일 목록
  .fruit-options {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 45%;
    height: calc(100vh - 25px);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 100;

    /* 닫기 버튼 */
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    /* 과일 카테고리 */
    .fruit-category {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 6px 10px;
      border-radius: 6px;
      border: 1px solid #ddd;

      h4 {
        font-size: 15px;
        font-weight: bold;
        color: #333;
        white-space: nowrap;
      }

      .fruit-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        button {
          padding: 4px 8px;
          border: none;
          background-color: #f5f5f5;
          border-radius: 4px;
          cursor: pointer;
          font-size: 17px;
          transition: 0.1s ease-in-out;

          &:hover {
            background-color: #28a745;
            color: white;
          }
        }
      }
    }
  }

  //과일 목록 보기 버튼
  .toggle-fruit-btn {
    width: 188px;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 500;
    @include secondary;
  }

  //입금액 & 비고 입력
  .payment-group, .note-group {
    display: grid;
    align-items: center;
    gap: 10px;
    font-weight: bold;
  }

  .payment-group {
    grid-template-columns: 50px 200px auto;

    input {
      width: 200px;
      text-align: left;
    }

    .korean-number {
      font-weight: 600;
    }
  }

  .note-group {
    grid-template-columns: 50px 1fr;

    textarea {
      font-family: $font;
      width: 100%;
      height: 100px;
      resize: none;
      text-align: left;
    }
  }
}

//반영하기 버튼
.action-buttons-bottom {
  width: 100%;
  margin-top: 12px;

  button {
    width: 100%;
    padding: 12px 14px;
    font-size: 14px;
    font-weight: 600;

    &.inactive {
      @include line-primary;
      color: #13141B;
    }

    &.active {
      @include bg-primary;
    }
  }
}
