@use "../abstracts" as *;
@use "../base" as *;

/* ----------------------
계산서
---------------------- */
.invoice {
  width: 100%;
  background: $bg-white;
  padding: 12px 20px;
  border: 1px solid #111;
  box-sizing: border-box;

  //계산서 제목
  .invoice-title {
    text-align: center;
    margin-bottom: 10px;

    h2 {
      display: inline-block;
      width: fit-content;
      font-size: 24px;
      font-weight: 700;
      padding: 4px 8px;
      border-bottom: 1px solid #111;
      margin-bottom: 8px;
    }

    h3 {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }

  .invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 6px;
    margin-top: 18px;

    //좌측: 업체 정보
    .header-left {
      flex: 1;
      text-align: left;

      .store {
        width: fit-content;
        padding-bottom: 2px;
        border-bottom: 1px solid #111;

        strong {
          font-size: 18px;
          font-weight: bold;
          margin-right: 6px;
        }

        span {
          font-size: 16px;
          color: #555;
        }

      }

      .invoice-date {
        margin-top: 12px;

        p {
          margin-top: 6px;
        }
      }
    }

    //우측: 판매자 정보
    .header-right {
      flex: 1;
      text-align: right;

      p {
        font-size: 14px;
        margin: 3px 0;

        &.spacing {
          letter-spacing: 2px;
        }
      }

      strong {
        font-weight: bold;
      }
    }
  }

  //품목 테이블
  .invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;

    th, td {
      font-size: 16px;
      padding: 8px 12px;
      text-align: center;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f4f4f4;
      font-weight: bold;
    }

    td {
      &.no {
        width: 100px;
      }

      &.name {
        width: 25%;
      }

      &.quantity {
        width: 15%;
      }

      &.price {
        width: 25%;
        text-align: right;
      }

      &.total {
        width: 35%;
        text-align: right;
      }
    }
  }

  //거래 요약
  .invoice-summary {
    margin-top: 15px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 4px;

    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      font-weight: bold;
      margin: 6px 0;

      span {
        display: inline-block;
        width: 100px;
        min-width: 100px;
        text-align: left;
      }

      .summary-value {
        flex: 1;
        word-break: break-word;
        text-align: right;
        line-height: 1.2;
      }
    }
  }

  //푸터
  .invoice-footer {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
}
