@use "../abstracts" as *;
@use "../base" as *;

/* ----------------------
테이블 공통
---------------------- */
.table-container {
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;

  th {
    background: #f4f4f4;
    font-weight: bold;
    color: #333;
  }

  th, td {
    font-size: 16px;
    padding: 10px 18px;
    text-align: center;
    border: 1px solid #ddd;
  }
}


/* ----------------------
거래처 구매 내역 리스트
---------------------- */
.order-history {
  .table-container {
    width: 55%;

    .order-table {
      thead {
        position: sticky;
        top: 0;
        z-index: 10;
      }

      td {
        font-weight: 500;

        &.total, &.balance {
          text-align: right;
        }
      }

      tbody tr {
        cursor: pointer;
      }

      .selected-row {
        background-color: #fffbf0;
      }

      .detail-button {
        padding: 6px 12px;
        border-radius: 4px;
        @include secondary;
      }
    }

    .observer-trigger {
      height: 1px;
      width: 100%;
    }
  }
}


/* ----------------------
거래처별 잔금 내역 리스트
---------------------- */
.balance-table {
  thead {
    position: sticky;
    top: 0;
    z-index: 10;

  }

  td {;
    padding: 15px 18px;
    font-size: 17px;
    font-weight: 500;

    &.id {
      width: 10%;
    }

    &.date {
      width: 25%;
    }

    &.store {
      width: 35%;
    }

    &.balance {
      width: 30%;

      &.balance-positive {
        color: #d9534f;
        font-weight: bold;
      }
    }
  }
}