/* ----------------------
변수
---------------------- */

//폰트
$font: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;

//font color
$font-basic: #13141B;
$font-primary: #2D3748;
$font-light: #f7f7f7;
$font-white: #ffffff;
$font-black: #000000;
$font-gray: #8b98a7;
$font-dark-gray: #1e1f24;
$font-navy: #0c243b;
$font-black-8: rgba(0, 0, 0, 0.8);
$font-light-gray: #d3d3d3;

//background color
$bg-white: #ffffff;
$bg-black: #13141B;
$bg-primary: #2D3748;
$bg-light-gray: #f8fafb;
$bg-dark-gray: #1e1f24;
$bg-navy: #0c243b;


//color
$color-divider: rgba(211, 211, 211, 0.34); // 구분선 색상

//font size
$font-xxl: 22px;
$font-xl: 20px;
$font-l: 18px;
$font-m: 16px;
$font-n: 14px;
$font-s: 13px;
$font-t: 12px;

//font weight
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$extra-black: 900;
